*{
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}
#navbar{
    width: 100%;
    height: 61px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    background-color: #0f1111;
    height: 41px;
    width: 130px;
    margin: 2px 0px 0px 2px;
    padding: 2px 0px 4px;
}
.logo{
    background-image: url(Amazonindialogo.png);
    height: 42px;
    width: 126px;
    margin: 1px;
    padding: 1px 2px 0px 1px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/*delivery location*/
.line1{
    font-size: 12px;
    color: #CCCCCC;
    margin-left: 16px;
}
.address{
    display: flex;
}
#location-icon{
    margin-bottom: 10px;
}
.line2{
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 4px;
}
.delivery-location{
    margin: 1px 0px 0px 2px;
}

/*Search bar*/
.nav-search{
    display: flex;
    width: 650px;
    height: 40px;
    border: none;
    margin: 1px 0px 0px 3px;
}
.category{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    color: #0F1111;
    width: 52px;
    font-size: 14px;
    text-align: left;
}
.category:focus{
    border: 3px solid #F08804;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    background-color: #ffac3f;
    width: 50px;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.3rem;
}
.search-icon:hover{
    border: 3px solid #F08804;
}

/*language select*/
.language{
    display: flex;
    padding: 17px 4px 10px;
    margin: 0px 0px 0px 4px;
}
.flag{
    background-image: url(ind\ flag.png);
    height: 16px;
    width: 21px;
    margin: 0px 2px 1px 0px;
}
.lang-select{
    background-color: transparent;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
}

/*Accounts & lists*/
#lists{
    background: transparent;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.sign-in{
    font-size: 12px;
    margin-left: 5px;
}
.Account-detail{
    padding: 5px 2px 5px;
    margin: 1px 0px 0px 4px;
}

/*returns & orders*/
.ret{
    font-size: 12px;
}
.od{
    font-size: 14px;
    font-weight: bold;
}
.order-detail{
    padding: 6px 2px 6px;
    margin: 0px 0px 0px 4px;
}

/*cart*/
#cart-icon{
    font-size: 26px;
}
.cart{
    display: flex;
    padding: 14px 2px 9px;
    margin: 0px 0px 0px 2px;
}
.last{
    padding: 8px 3px 0px;
}

/*panel*/
.panel-1{
    background-color: #232F3E;
    height: 39px;
    background-size: cover;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 11px;
}
#bars{
    font-size: 21px;
}
.menu{
    padding: 6px 3px;
    display: flex;
}
.menu p{
    font-size: 15px;
    margin-left: 4px;
    margin-top: 2px;
}
#prime{
    background: transparent;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.panel-ops{
    display: flex;
}
.panel-ops p{
    margin-left: 9px;
    padding: 8px 4px;
}

/*sidebar options*/
#open-nav-sidebar{
    cursor: pointer;
}
.sidebar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(-100%);
    display: flex;
}
.sidebar-show{
    transform: translateX(0%);
}
.sidebar-left{
    background-color: white;
    width: 368px;
    padding-bottom: 50px;
}
.sidebar-wrap{
    height: 100%;
    overflow: scroll;
}
.sidebar-top{
    background-color: #232F3E;
    background: cover;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#user-icon{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0px 7px 0px 36px;
}
.sidebar-top p{
    font-size: 19px;
    font-weight: 700px;
    margin: 4px 0px 0px 0px;
}
.trending{
   line-height: 2.7rem;
   padding-left: 36px;
}
.trending h3{
    color: #111111;
    font-size: 18px;
    padding-top: 13px;
}
.trending p{
    color: #232F3E;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}
.line{
    border-bottom: 1px solid #d5dbdb;
    padding: 0;
    margin: 6px 0px;
}
#more-angle{
    margin-left: 199px;
    color: gray;
    font-size: 18px;
}
#see-all{
    border: none;
    color: #232F3E;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    padding-right: 7px;
}
#sidebar-close{
    background-color: transparent;
    border: none;
    color: white;
    align-self: flex-start;
    font-size: 30px;
    padding: 16px;
}
#last-opt{
    padding-bottom: 30px;
}

/*Hero section*/
.hero-section{
    position: relative;
}
.hero-img{
    display: flex;
    overflow: hidden;
    animation: carousel 15s alternate infinite;
}
/*.img-item{
    min-width: 100%;
    height: 600px;
}*/
.hero-img img{
    height: 600px;
    max-width: 100%;
    object-fit: cover;
}
.hero-swipe{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn{
    border: 2px solid transparent;
    background-color: transparent;
    height: 250px;
    width: 80px;
    font-size: 50px;
}
.btn:focus{
    border-color: #007185;
    box-shadow: -1px -1px 1px white,
    1px 1px 1px white;
    margin: 2px;
}

/*shop section*/
/*Row 1*/
.product-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.product-content{
    position: relative;
    top: -365px;
    height: 378px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.shadow-box{
    box-shadow: 24px 200px 180px rgba(229, 232, 245, 8.5),
    -24px 200px 180px rgba(229, 232, 245, 8.5);
}              
.product-content h2{
    font-size: 20px;
    padding: 0px 20px;
    margin-bottom: 10px;
    line-height: 1.6rem;
}
.product-img{
    display: flex;
    padding: 0px 10px;
    margin: 0px 0px 18px;
    flex-wrap: wrap;
}
.headphones img{
    height: 95px;
    width: 125px;
    object-fit: cover;
}
.headphones{
    padding: 0px 10px 0px 10px;
    font-size: 11px;
    margin-bottom: 25px;
    cursor: pointer;
}
.headphones p{
    line-height: 17px;
    color: #0F1111;
}
.more{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px 10px;
    
}
.more:hover{
    text-decoration: underline;
    color: rgb(238, 76, 22);
    cursor: pointer;
}
.signin-box{
    position: relative;
    top: -365px;
    height: 120px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
    padding: 20px 0px 15px;
    display: grid;
}
.signin-box h2{
    font-size: 23px;
    padding: 0px 20px;
    margin: 0px 0px 23px;
}
.signin-btn button{
    height: 31px;
    width: 85%;
    background-color: #ffd814;
    border: none;
    border-radius: 7px;
    padding: 0px 10px 0px 11px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    cursor: pointer;
}
.signin-btn{
    display: flex;
    justify-content: center;
    padding: 0px 0px 25px;
}
.right-box{
    height: 378px;
    width: 23%;
    background-color: white;
    position: relative;
    top: -360px;
    display: grid;
}

.sponsor{
    position: absolute;
    top: 530px;
    right: 20px;
    height: 233px;
    width: 23%;
    background-color: white;
    padding-top: 5px;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    box-shadow: 22px 220px 130px rgba(229, 232, 245, 4.5),
    -22px 220px 130px rgba(229, 232, 245, 4.5);
}
.name{
    font-size: 13px;
}
#star1{
    font-size: 14px;
    color: #ffd814;
}
#star2{
    font-size: 14px;
    color: #ffd814;
}
#star3{
    font-size: 14px;
    color: #ffd814;
}
#star4{
    font-size: 14px;
    color: #ffd814;
}
#star5{
    font-size: 14px;
    color:#ffac3f;
}
.star{
    font-size: 12px;
    color: #0F1111;
    position: relative;
    right: 84px;
}
.off{
    display: flex;
    color: rgb(238, 26, 62);
    font-weight: bold;
    font-size: 13px;
}
.off button{
    border: none;
    background-color: rgb(238, 26, 62);
    color: white;
    font-weight: bold;
    margin: 0px 10px;
}
.price p{
    display: inline;
    position: relative;
    right: 50px;
    font-size: large;
    color: rgb(238, 26, 62);
}
#org-price{
    text-decoration: line-through;
    font-size: 14px;
    color: #0F1111;
    position: relative;
    right: 48px;
}
#check{
    font-size: 12px;
    font-weight: bolder;
    color: #ffac3f;
    position: relative;
    right: 42px;
}
#tick{
    font-size: 12px;
    color: rgb(15, 176, 239);
    font-weight: bold;
    position: relative;
    right: 47px;
}
.price sup{
    font-size: 12px;
}

/*Row 2*/
.photos{
    padding: 0px 10px 0px 10px;
    font-size: 11px;
    margin-bottom: 25px;
    cursor: pointer;
}
.photos img{
    height: 95px;
    width: 125px;
    object-fit: cover;
}
.photos p{
    color: #0F1111;
    line-height: 17px;
}
.more2{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px;
    margin-bottom: 24px;
}
.more2:hover{
    text-decoration: underline;
    color: rgb(238, 76, 22);
    cursor: pointer;
}
#big{
    height: 107px;
    width: 125px;
}
.more-one{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px;
    position: relative;
    bottom: 30px;
}
.more-two{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px;
    position: relative;
    bottom: 15px;
}

/*Row 3*/
.swipe-section{
    height: 370px;
    width: 97%;
    background-color: white;
    margin-top: -342px;
    margin-bottom: 20px;
}
.swipe-head{
    display: flex;
    padding: 10px 20px;
    margin-top: 12px;
}
.swipe-head p{
    font-size: 14px;
    color: #007185;
    padding: 6px 0px 0px 15px;
}
.swipe-head p:hover{
    text-decoration: underline;
    color: rgb(238, 76, 22);
    cursor: pointer;
}
.row-product{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6px;
    cursor: pointer;
}
.img-box{
    width: 240px;
    height: 215px;
    background-color: rgba(15, 17, 17, .03);
    border-radius: 5px;
}
.img-box #phone1{
    margin: 6px 46px;
}
.img-box #phone2{
    margin: 6px 42px;
}
.img-box #filter{
    margin: 6px 75px;
}
.img-box #homeproduct{
    margin: 6px 32px;
}
.img-box #menwear{
    margin: 6px 20px;
}
.off-1{
    display: flex;
    color: #CC0C39;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
}
.off-1 button{
    border: none;
    background-color: #CC0C39;
    color: white;
    font-weight: bold;
    margin: 0px 7px 0px 2px;
    padding: 4px 6px;
}
.off-1 p{
    padding-top: 4px;
}
.swipe-price1{
    display: flex;
    padding: 4px 0px 0px 2px;
}
.swipe-price1 sup{
    font-size: 11px;
}
.swipe-price1 p{
    font-size: 17px;
}
#org-price1{
    font-size: 12px;
    color: #565959;
    display: flex;
    padding: 6px 0px 0px 5px;
}
#org-price1 p{
    font-size: 12px;
    color: #565959;
    text-decoration: line-through;
}
.phone1-name{
    font-size: 13px;
    padding: 4px 0px 0px 2px;
}
.off-2{
    display: flex;
    color: #CC0C39;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
}
.off-2 button{
    border: none;
    background-color: #CC0C39;
    color: white;
    font-weight: bold;
    margin: 0px 7px 0px 2px;
    padding: 4px 6px;
}
.off-2 p{
    padding-top: 4px;
}
.filter-name{
    font-size: 13px;
    padding: 4px 0px 0px 2px;
}
.off-3{
    display: flex;
    color: #CC0C39;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
}
.off-3 button{
    border: none;
    background-color: #CC0C39;
    color: white;
    font-weight: bold;
    margin: 0px 7px 0px 2px;
    padding: 4px 6px;
}
.off-3 p{
    padding-top: 4px;
}
.tawa-name{
    font-size: 13px;
    padding: 4px 0px 0px 2px;
}
.off-4{
    display: flex;
    color: #CC0C39;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
}
.off-4 button{
    border: none;
    background-color: #CC0C39;
    color: white;
    font-weight: bold;
    margin: 0px 7px 0px 2px;
    padding: 4px 6px;
}
.off-4 p{
    padding-top: 4px;
}
.menwear-name{
    font-size: 13px;
    padding: 4px 0px 0px 2px;
}
.tab-left{
    position: relative;
    bottom: 230px;
    border: none;
    background-color: #fff;
    height: 100px;
    width: 42px;
    box-shadow: 1px 1px 2px #888;
    border-radius: 0px 3px 3px 0px;
    padding-right: 5px;
}
#swipe-left{
    color: #888;
    font-size: 25px;
    font-weight: bold;
}
.tab-right{
    position: relative;
    bottom: 195px;
    left: 200px;
    border: none;
    background-color: #fff;
    height: 100px;
    width: 42px;
    box-shadow: -1px 1px 2px #888;
    border-radius: 3px 0px 0px 3px;
    padding-right: 5px;
}
#swipe-right{
    color: #888;
    font-size: 25px;
    font-weight: bold;
}

/*Row 4*/
.swipe-section2{
    height: 285px;
    width: 97%;
    background-color: white;
    margin-bottom: 20px;
}
.grocery-product{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6px;
    cursor: pointer;
}
.grocery-button{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin-top: 50px;
}
.button-right{
    height: 100px;
    width: 45px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    box-shadow: -1px 1px 2px #888;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.button-left{
    height: 100px;
    width: 45px;
    background-color: #fff;
    opacity: .5;
    color: #888;
    font-size: 25px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 2px #888;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

/*Row-5*/
.swipe-section3{
    height: 285px;
    width: 97%;
    background-color: white;
    margin-bottom: 20px;
}
.clothing-product{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.clothing-button{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1275px;
    margin-top: 50px;
}

/*row-6*/
.row-6{
    margin-top: 367px;
}
.Grinderbox{
    padding: 20px 0px 15px;
}
.below-head{
    padding: 0px 20px;
    margin: 0px 0px 27px;
}
#main-grinder{
    height: 149px;
    width: 267px;
    object-fit: contain;
}
.grinder-name{
    font-size: 13px;
}
.price-2 p{
    display: inline;
    font-size: 20px;
}
.price-2{
    margin: 6px 0px 12px;
}
#org-price-2{
    font-size: 13px;
    color: #565959;
    margin-left: 7px;
}
#org-price-2 p{
    font-size: 13px;
    color: #565959;
    text-decoration: line-through;
}
.price-2 sup{
    font-size: 12px;
}
.grinder-option{
    display: flex;
    justify-content: space-between;
}
.GB{
    margin: 3px;
    height: 65px;
    width: 65px;
    object-fit: none;
    background-color: #fff;
    border: 1px solid #0F1111;
    overflow: hidden;
    border-radius: 8px;
}
.G1 img{
    height: 50px;
    width: 50px;
    padding: 9px 3px 0px;
}
.G2 img{
    height: 50px;
    width: 50px;
    padding: 9px 3px 0px;
}
.G3 img{
    height: 50px;
    width: 50px;
    padding: 9px 2px 0px;
}
.G4 img{
    height: 50px;
    width: 50px;
    padding: 9px 3px 0px;
}
.more3{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px;
    margin-bottom: 30px;
}
.more3:hover{
    text-decoration: underline;
    color: rgb(238, 76, 22);
    cursor: pointer;
}

#main-innerwear{
    height: 149px;
    width: 267px;
    object-fit: contain;
}
.innerwear-name{
    font-size: 13px;
}
.innerwear-option{
    display: flex;
    justify-content: space-between;
}
.IW{
    margin: 3px;
    height: 65px;
    width: 65px;
    object-fit: none;
    background-color: #fff;
    border: 1px solid #0F1111;
    overflow: hidden;
    border-radius: 8px;
}
.IW1 img{
    height: 60px;
    width: 30px;
    padding: 3px 13px 7px;
}
.IW2 img{
    height: 55px;
    width: 30px;
    padding: 5px 14px 5px;
}
.IW3 img{
    height: 57px;
    width: 30px;
    padding: 3px 13px 7px;
}
.IW4 img{
    height: 55px;
    width: 30px;
    padding: 5px 13px 5px;
}
.int-brand img{
    height: 279px;
    width: 275px;
    object-fit: cover;
}
.int-brand{
    text-align: center;
}
.more4{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px;
    margin: 17px 0px;
}
.more4:hover{
    text-decoration: underline;
    color: rgb(238, 76, 22);
    cursor: pointer;
}

.ss-img{
    padding: 0px 10px 0px 10px;
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;
}
.ss-img img{
    height: 95px;
    width: 125px;
    object-fit: cover;
}
.ss-img p{
    color: #0F1111;
    line-height: 17px;
}
.more5{
    font-size: 13px;
    color: #007185;
    padding: 0px 20px;
    margin-bottom: 25px;
}
.more5:hover{
    text-decoration: underline;
    color: rgb(238, 76, 22);
    cursor: pointer;
}

/*Row-7*/
.swipe-section4{
    height: 290px;
    width: 97%;
    background-color: white;
    margin-top: -344px;
}
.swipe-head h2{
    font-size: 21px;
}
.emerg-brand{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    cursor: pointer;
}

/*Row-8*/
.straitfurniture{
    height: 280px;
    width: 75%;
    background-color: white;
    margin-top: -31px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.fur-logo{
    margin-left: 16px;
}
.fur-logo p{
    font-size: 13px;
    padding-left: 5px;
}
.bed-img img{
    height: 200px;
    width: 200px;
    margin-left: 58px;
}
.bed-name{
    margin-left: 40px;
}
.bed-name p{
    font-size: large;
    line-height: 25px;
}
.rating{
    font-size: smaller;
    padding-top: 5px;
}
#star6{
    font-size: 14px;
    color: #ffd814;
}
.bed-price{
    display: flex;
    padding-top: 3px;
}
.bed-price sup{
    font-size: 12px;
}
.discount{
    color: #CC0C39;
    font-size: 25px;
    padding: 5px 5px 0px 5px;
}
#org-price1{
    padding-top: 10px;
}
#org-price1 p{
    padding-left: 1px;
    position: relative;
    bottom: 5px;
}
.outside{
    font-size: 12px;
    color:#565959;
    position: relative;
    top: 252px;
    right: 170px;
}

/*Row-9*/
.last-swipe{
    height: 285px;
    width: 97%;
    background-color: white;
    margin-bottom: 20px;
}
.top-cat-img{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.top-cat-button{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin-top: 50px;
}

/*sign-in section*/
.New-cs{
    background-color: white;
    width: 100%;
    height: 200px;
}
.signin-bar{
    height: 130px;
    background-size: cover;
    border: 1px solid #e2e7e6;
    border-radius: 10px;
    margin-top: 45px;
    text-align: center;
    color: #000000;
    line-height: 25px;
}
.first-line{
    font-size: 13px;
    color: black;
    padding-top: 40px;
}
.press{
    height: 28px;
    width: 230px;
    font-size: 12px;
    color: #000;
    font-weight: 700;
    background-color: #fdd004;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.last-line{
    font-size: 11px;
    cursor: pointer;
}
.last-line a{
    color: #007185;
}
.last-line a:hover{
    color: rgb(238, 76, 22);
}

/*Back to top*/
.backtotop{
    background-color: #232F3E;
    width: 100%;
    height: 49px;
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

/*last box*/
.last-box{
    height: 350px;
    width: 100%;
    background-color: #131a22;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 30px 0px 30px;
}
.coloum{
    padding-top: 42px;
}
#heading{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 6px 0px 14px;
    position: relative;
    left: 40px;
}
#options{
    font-size: 14px;
    color: #DDDDDD;
    list-style-type: none;
    line-height: 1.8rem;
    cursor: pointer;
}
#options :hover{
    text-decoration: underline;
}
.change{
    height: 90px;
    width: 100%;
    background-color: #131a22;
    border-top: 0.3px solid #3a4553;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elements{
    display: flex;
}
.buttom-logo{
    background-image: url(Amazonindialogo.png);
    height: 35px;
    width: 90px;
    background-size: contain;
}
.feature-1{
    display: flex;
    align-items: center;
    border: 1px solid #848688;
    border-radius: 3px;
    height: 33px;
    width: 115px;
    margin-right: 4px;
    color: #CCCCCC;
    padding-left: 8px;
    font-size: 14px;
    margin-left: 90px;
}
#Eng{
    background: transparent;
    border: none;
    color: #CCCCCC;
    padding-left: 7px;
}
.feature-2{
    display: flex;
    align-items: center;
    border: 1px solid #848688;
    border-radius: 3px;
    height: 33px;
    width: 99px;
    font-size: 15px;
    color: #848688;
    margin-left: 5px;
}
.india{
    background-image: url(ind\ flag.png);
    height: 15px;
    width: 20px;
    margin-left: 8px;
}
.feature-2 p{
    padding-left: 10px;
    color: #CCCCCC;
    font-size: 14px;
}

/*footer*/
.footer{
    height: 157px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    padding: 30px 0px 0px 100px;
}
.foot-content{
    padding-left: 120px;
    cursor: pointer;
}
.foot-content :hover{
    text-decoration: underline;
}
.foot-head{
    color: #DDDDDD;
    font-size: 12px;
    font-weight: 700;
}
.foot-content p{
    color: #999999;
    font-size: 12px;
}
.foot-down{
    padding-top: 30px;
}

/*End line*/
.End-line{
    height: 70px;
    width: 100%;
    background-color: #0F1111;
    color: #DDDDDD;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
}
.ED-1{
    display: flex;
    justify-content: center;
}
.ED-1 p{
    padding: 0px 7px;
    cursor: pointer;
}
.ED-1 :hover{
    text-decoration: underline;
}

